container_commands:
    01_postdeploy_hook_permission:
        command: chmod +x .platform/hooks/postdeploy/99_start_horizon.sh

files:
    "/etc/systemd/system/laravel_worker.service":
        mode: "000755"
        owner: root
        group: root
        content: |
            # Laravel queue worker using systemd
            # ----------------------------------
            #
            # /lib/systemd/system/queue.service
            #
            # run this command to enable service:
            # systemctl enable queue.service

            [Unit]
            Description=Laravel queue worker

            [Service]
            Restart=always
            EnvironmentFile=/opt/elasticbeanstalk/deployment/env
            ExecStart=/usr/bin/nohup /usr/bin/php /var/www/html/artisan horizon

            [Install]
            WantedBy=multi-user.target

    "/etc/cron.d/run_laravel_schedule":
        mode: "000644"
        owner: root
        group: root
        content: |
            * * * * * root export $(sudo cat /opt/elasticbeanstalk/deployment/env) && /usr/bin/php /var/www/html/artisan schedule:run 1>> /dev/null 2>&1
